<div class="list-summary">
  <span class="list-summary--title">LOGS</span>
</div>

<div class="list-result separate-vertical">
  {{#if model}}
    {{#ember-collection
      classNames="contact-list"
      items=model
      cell-layout=(percentage-columns-layout model.length columns 40)
      as |log|
    }}
      <div class="log-row">
        <span class="log-cell" style="width: 100px">{{log.date}}</span>
        <span class="log-cell" style="width: 100px">{{log.type}}</span>
        <span class="log-cell">{{log.status}}</span>
      </div>
    {{/ember-collection}}
  {{/if}}
</div>
