<div style="display: flex; width: 100vw; height: 100vh; align-items: stretch;">
  <div style="width: 400px; height: 100vh; flex-grow: 0; flex-shrink: 0">
    {{contact-list
      source=model
      onShowFriends=(action "showFriends")
    }}
  </div>
  <div class="contact-panel" style="flex: 1; height: 100vh; display: flex; flex-direction: row; background-color: #ececec;">
    {{friend-list
      model=friends
      onShowLogs=(action "showLogs")
    }}

    {{log-list
      model=logs
    }}
  </div>
</div>
